.newPortfolioModal_wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(5, 0, 8, .7);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	justify-content: center;
}

.newPortfolioModal_mainBlock {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 849px;
	height: 488px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, .9);
	align-self: center;
}

.outer {
	z-index: 11;
	position: absolute;
	right: 17px;
	top: 17px;
	width: 51px;
	cursor: pointer;
}

.inner {
	width: inherit;
	text-align: center;
}

label {
	font-size: .7em;
	line-height: 4em;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s ease-in;
	opacity: 0;
	cursor: pointer;
}

.inner:before, .inner:after {
	position: absolute;
	content: '';
	height: 1px;
	width: inherit;
	background: #B5855C;
	left: 0;
	transition: all .3s ease-in;
}

.inner:before {
	top: 50%;
	transform: rotate(45deg);
}

.inner:after {
	bottom: 50%;
	transform: rotate(-45deg);
}

.outer:hover label {
	opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
	transform: rotate(0);
}

.outer:hover .inner:before {
	top: 0;
}

.outer:hover .inner:after {
	bottom: 0;
}

.newPortfolioModal_title {
	margin: 30px auto auto;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 23px;
	height: 50px;
}

.newPortfolioModal_dataArea {
	display: flex;
	flex-direction: row;
	padding-right: 61px;
	padding-left: 61px;
	width: 100%;
	height: 100%;
}

.newPortfolioModal_inputArea {
	display: flex;
	flex-direction: column;
}

.newPortfolioModal_dataAreaTitle {
	font-size: 18px;
	color: #ABABAB;
	font-weight: 300;
	margin-top: 80px;
}

.newPortfolioModal_input {
	width: 330px;
	height: 55px;
	border-radius: 7px;
	border: none;
	outline: none;
	margin-top: 20px;
	padding-left: 17px;
	font-size: 17px;
	font-weight: 300;
	color: #000000;
}

input.newPortfolioModal_input::-webkit-outer-spin-button,
input.newPortfolioModal_input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input.newPortfolioModal_input[type=number] {
	-moz-appearance: textfield;
}
