.newPortfolioModal_wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(5, 0, 8, .7);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	display: flex;
	justify-content: center;
}

.newPortfolioModal_main {
	position: relative;
	width: 849px;
	height: 488px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, .9);
	align-self: center;
}

.outer {
	z-index: 11;
	position: absolute;
	right: 17px;
	top: 17px;
	width: 37px;
	cursor: pointer;
}

.inner {
	width: inherit;
	text-align: center;
}

label {
	font-size: .7em;
	line-height: 4em;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s ease-in;
	opacity: 0;
	cursor: pointer;
}

.inner:before, .inner:after {
	position: absolute;
	content: '';
	height: 1px;
	width: inherit;
	background: #B5855C;
	left: 0;
	transition: all .3s ease-in;
}

.inner:before {
	top: 50%;
	transform: rotate(45deg);
}

.inner:after {
	bottom: 50%;
	transform: rotate(-45deg);
}

.outer:hover label {
	opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
	transform: rotate(0);
}

.outer:hover .inner:before {
	top: 0;
}

.outer:hover .inner:after {
	bottom: 0;
}
