@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*@font-face {*/
/*	font-family: 'Roboto';*/
/*	font-style: normal;*/
/*	font-weight: 400;*/
/*	src: local('Roboto'), url(/fonts/roboto-regular.woff2) format('woff2'), url(/fonts/Roboto-Regular.ttf) format('truetype');*/
/*}*/

/*@font-face {*/
/*	font-family: 'Roboto';*/
/*	font-weight: 700;*/
/*	src: local('Roboto'), url(/fonts/roboto-bold.woff2) format('woff2');*/
/*}*/

/*@font-face {*/
/*	font-family: 'Roboto';*/
/*	font-weight: 500;*/
/*	src: local('Roboto'), url(/fonts/roboto-medium.woff2) format('woff2');*/
/*}*/

/*@font-face {*/
/*	font-family: 'Roboto';*/
/*	font-weight: 300;*/
/*	src: local('Roboto'), url(/fonts/roboto-light.woff2) format('woff2');*/
/*}*/

html, body {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	position: relative;
	height: 100vh;
	background: url("./bg_app.png") center no-repeat;
	background-size: cover;
}

.wrapper-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(40, 54, 74, .91);
}
